<!doctype html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <link rel="icon" href="#"/>
</head>
<body>
{% block body %}
    <main>
      {% block container %}{% endblock %}
    </main>
{% endblock %}
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>